@import "tailwindcss";

body {
    margin: 0;
    background-color: rgba(8,8,9,255);
    text-align: center;
    color: white;
    font-family: "ui-sans-serif", system-ui, -apple-system, BlinkMacSystemFont;
    font-size: 14px;
}